extends layouts/main

block content
    .from_container
        form(action=routes.editVideo, method="post")
            input(type="text", placeholder="Title", name="title")
            textarea(name="description", placeholder="Description")
            input(type="submit", value="Upldate Video")
        a.form-container.form-container__link--delete(href=`/videos${routes.deleteVideo}`) Delete video